@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('https://cur.cursors-4u.net/nature/nat-1/nat95.cur'), auto;
  cursor: url('https://cur.cursors-4u.net/holidays/hol-4/hol336.cur'), auto;
  cursor: url('https://cur.cursors-4u.net/cursors/cur-2/cur116.cur'), auto;
  cursor: url("https://cur.cursors-4u.net/cursors/cur-2/cur197.ani"), url("https://cur.cursors-4u.net/cursors/cur-2/cur197.png"), auto;
  cursor: url("https://cur.cursors-4u.net/cursors/cur-6/cur544.cur"), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}